.proyecto {
    width: 380px;
    background-color: #333;
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
    color: #fff;
    text-align: center;
}

.proyecto img {
    width: 280px;
    border-radius: 5px;
}

.links i {
    font-size: 2rem;
    margin: 0.5rem 1.5rem 0 1.5rem;
}

p {
    margin: 1rem 1.5rem 1rem 1.5rem;
}

@media screen and (max-width: 768px) {
    .proyecto {
        width: auto;
    }

}