:root {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;
}

body {
  margin: 0;
  display: flex;
  background: radial-gradient(
      circle 600px at 40% 50%,
      rgba(255, 0, 150, 0.6),
      transparent 60%
    ),
    radial-gradient(circle 600px at 60% 60%, rgba(0, 200, 255, 0.6), transparent 60%);
  background-color: #111; 
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  body {
    background: radial-gradient(
        circle 400px at 40% 30%,
        rgba(255, 0, 150, 0.6),
        transparent 60%
      ),
      radial-gradient(circle 400px at 70% 70%, rgba(0, 200, 255, 0.6), transparent 60%);
    display: flow;
    font-size: 23px;
    }
  
  html, body {
    height: 100%;
    overflow-x: hidden;
  }
}